{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-3"
  ],
  "plugins": [
    "external-helpers",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "decorators": "./decorators/index.js"
      }
    ]
  ]
}