/*公共基础样式*/

body {
	background-color: #333;
}
[data-role~=page],
.ui-page {
	background-color: #f5f5f5 !important;
}
.ui-header {
	height: 50px;
	background: #fff;
	border-bottom: solid 1px #ddd;
	text-align: center;
	position: relative;
}
.ui-title {
	display: block;
	width: 50%;
	margin: 0px auto;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
}
.ui-footer {
	height: 50px;
	text-align: center;
	position: relative;
}
.ui-content {
	margin: 0px;
	padding: 0px;
	position: relative;
}
.ui-content-padding {
	margin: 0px;
	padding: 15px;
	position: relative;
}
/*按钮*/

[class*="ui-button"] {
	border: solid 1px #ddd;
	background-color: #fff;
	font-size: 16px;
	line-height: 16px;
	padding: 15px;
	outline: none;
	display: inline-block;
	overflow: hidden;
	color: #333;
	border-radius: 3px;
	-webkit-transition: all;
	transition: all;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-duration: .09s;
	transition-duration: .09s;
}
.ui-button-block,
.ui-button-primary {
	display: block;
	width: 100%;
}
.ui-button-primary {
	background-color: #007aff;
	border: solid 1px #007aff;
	color: #fff;
}
[class*="ui-button"]:active {
	background-color: #ddd;
	color#fff;
}
[class*="ui-button"]:disabled {
	background-color: #ddd;
	color: #ddd;
}
.ui-button-primary:active {
	color: #fff;
	background-color: #0062cc;
}
.ui-button-group {
	margin: 0px;
	padding: 0px;
	border: solid 1px #ddd;
	border-radius: 3px;
	background-color: transparent;
	font-size: 0px;
}
.ui-button-group:active {
	background-color: transparent;
}
.ui-button-group [class*="ui-button"] {
	border: none;
	margin: 0px;
	border-radius: 0px;
	border-right: solid 1px #ddd;
	min-width: 80px;
	padding: 12px;
}
.ui-button-group [class*="ui-button"]:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.ui-button-group [class*="ui-button"]:last-child {
	border-right: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
/*文本框*/

[class*="ui-textbox"] {
	border: solid 1px #ddd;
	background-color: #fff;
	font-size: 16px;
	padding: 13px;
	outline: none;
	display: inline-block;
	color: #333;
	border-radius: 3px;
}
.ui-textbox-block {
	display: block;
	width: 100%;
}
/*列表*/

.ui-list {
	margin: 15px 0px;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	padding: 0px;
	position: relative;
	background-color: #fff;
}
.ui-content-padding .ui-list {
	border: solid 1px #ddd;
	border-radius: 3px;
	margin: 0px;
}
.ui-content-padding .ui-list li:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.ui-content-padding .ui-list li:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.ui-list li {
	clear: both;
	margin: 0px;
	padding: 17px;
	font-size: 16px;
	line-height: 16px;
	border-top: solid 1px #ddd;
	overflow: hidden;
	position: relative;
	-webkit-transition: all;
	transition: all;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-duration: .09s;
	transition-duration: .09s;
}
.ui-list li:active {
	background-color: #eee;
}
.ui-list li:first-child {
	border-top: none;
}
/*表单*/
.ui-form{
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}
.ui-form li {
	padding: 0px;
	overflow: hidden;
	font-size: 0px
}
.ui-form li:active {
	background-color: transparent;
}
.ui-form li label {
	display: inline-block;
	height: 100%;
	width: 28%;
	font-size: 16px;
	padding: 13px 0px 13px 13px;
	margin: 0px;
	background-color: transparent;
	text-overflow: ellipsis;
	word-break: normal;
}
.ui-form li [class*="ui-textbox"] {
	display: inline-block;
	height: 100%;
	width: 100%;
	border: none;
	background-color: transparent;
}
.ui-form li label~[class*="ui-textbox"] {
	width: 72%;
}
/*end*/