body{
	background-color: #eee; font-family: Verdana;
}
#border{
	position: absolute; top: 20px; left: 50%; -webkit-user-select: none;
    margin: 0px auto auto -168px; background-color: #1a1e1f; display: inline-block;
    padding: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
    box-shadow: 5px 7px 13px #555;
}
#caption{
	padding: 5px 5px 8px 5px; color: #aaa; font-weight: bold; font-size: 12px;
    text-shadow: 1px 1px 1px #555 inset; text-align: center;
}
#view{
	width: 320px; height: 480px; margin: 0px;
            background-color: White;
}
#home{
	border-radius: 40px; box-shadow: 0px 0px 20px #000 inset; width: 40px;
            height: 40px; border-solid: solid 1px #000; background-color: #1a1e1f; margin: 8px auto auto auto; cursor: pointer;
            position: relative;
}
#home div{
	border: solid 1px #999; border-radius: 2px; width: 14px; height: 14px;
                position: absolute; left: 50%; top: 50%; margin: -8px auto auto -8px;
}