<div data-role='page grid' data-grid-rows='50,*' data-grid-cols='*' data-title='<%$($.lang.home)%>'>
	<div class="ui-header" data-role='cell'>
		<div class='ui-bar-left' data-event='click>openMenu'>
			<i class="icon-reorder "></i>
		</div>
		<div class="ui-title">
			<%$($.lang.home)%>
		</div>
		<div class='ui-bar-right'>
			<i class="icon-question-sign"></i>
		</div>
	</div>
	<div class="ui-content" data-role='cell scroll'>
		<div class="ui-content-padding">
		<div class="ui-select">
			<select id='findTypeBox' data-event='change>find'>
			<% $.each($$.findTypeList, function(i,item){ %>
				<option <%$(item==$$.findType?'selected':'')%> value='<%$(item)%>'><%$($.lang.find_type[item])%>
				</option>
			<% }); %>
			</select>
			<i class="icon-angle-down"></i>
		</div>
		<br/>
		<div class="ui-bar1">
			<input type="search" id='findBox' class="ui-textbox-block" data-event='change>find' value='<%$(this.findKeyWord)%>' placeholder="<%$($.lang.please_input)%>" /> 
		</div>
		<br />
		<% if(this.findResult && this.findResult.length>0){ %>
		<ul class="ui-list">
		<% for(var i in this.findResult){ 
			var item=this.findResult[i]; %>
			<li><%=item.name%> , <%= item.tel %></li>
		<% } %>
		</ul>
		<% }else{ %>
		<div style='padding:15px;text-align:center'><%$($.lang.not_found)%></div>
		<% } %>
		</div>
	</div>	
	<link data-role='view' id='menu' data-view="../views/menu" />
</div>