<div data-role='page' data-title='<%$($.lang.home)%>'>
	<div data-role="head" class="bar header">
		<%$($.lang.home)%>
		<input style='position:absolute;left:6px;top:6px;padding:3px;' type="button" value=" 菜单 " data-event='click>openMenu' />
	</div>
	<div data-role="content" class="content">
		<select id='findTypeBox' data-event='change>find'>
		<% $.each($$.findTypeList, function(i,item){ %>
			<option <%$(item==$$.findType?'selected':'')%> value='<%$(item)%>'><%$($.lang.find_type[item])%>
			</option>
		<% }); %>
		</select>
		<br/>
		<div class="bar">
			<input type="search" id='findBox' style='width:100%;' data-event='change>find' value='<%$(this.findKeyWord)%>' placeholder="<%$($.lang.please_input)%>" /> 
		</div>
		<br/>
		<% if(this.findResult && this.findResult.length>0){ %>
		<ul class="list">
		<% for(var i in this.findResult){ 
			var item=this.findResult[i]; %>
			<li><%=item.name%> , <%= item.tel %></li>
		<% } %>
		</ul>
		<% }else{ %>
		<div style='padding:15px;text-align:center'><%$($.lang.not_found)%></div>
		<% } %>
	</div>	
	<div data-role="head" class="bar footer">
		 -
	</div>
	<link data-role='view' id='menu' data-view="../views/menu" />
</div>