<div data-role='page grid' data-grid-rows='50,*' data-grid-cols='*' data-title='<%$($.lang.login)%>'>
	<div class="ui-header" data-role='cell'>
		<h1 class='ui-title'><% $($.lang.login) %></h1>
	</div>
	<form class='ui-content' data-role='cell scroll'>
			<div class='ui-content-padding'>
				<div class="ui-button-group">
					<input class="ui-button" type="button" name="" value="中文" data-event="click>!setLanguage:zh-cn" />
					<input class="ui-button" type="button" name="" value="English" data-event="click>!setLanguage:en-us" />
				</div>
			
			<!--
			<input type="button" name="" value="<%$($.lang.default)%>" data-event="click>!setStyle:default">
			<input type="button" name="" value="<%$($.lang.black)%>" data-event="click>!setStyle:black">
			-->
			<br /><br />
			<ul class='ui-list ui-form'>
			 <li>
			 	<label><%$($.lang.username)%></label>
			<input type="text" class="ui-textbox-block"  data-bind="val<username" placeholder="<%$($.lang.username)%>">
			 </li>
			 <li>
			 	<label><%$($.lang.password)%></label>
				<input type="password" class="ui-textbox-block" data-bind="val<password"  placeholder="<%$($.lang.password)%>">
			 </li>
			</ul></div>
			<div class='ui-content-padding'>
				<input type="button" class="ui-button-primary" value="<%$($.lang.login)%>" data-event="click>login"/>
			</div>
				
			<!--link data-role='view' data-view="../views/setting" data-model="info"/
		<div class='ui-content-padding'>
			<ul class='ui-list'>
			    <li>你好</li>
			    <li>你好</li>
			</ul>
		</div>-->
	</form>
</div>