[cloak] {
  visibility: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", "SimSun", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #eee;
  user-select: none;
}

#app {
  box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
}

@media screen and (min-width: 800px) {
  #app {
    margin: 50px auto;
    max-width: 600px;
  }
}

#app input[type="text"] {
  margin: 0;
  padding: 15px 20px;
  width: 100%;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #fff;
}

#app ul {
  margin: 0;
  padding: 0;
}

#app .bar, #app ul li {
  border-top: solid 1px #eee;
}

#app .bar {
  font-size: 12px;
  color: #aaa;
  padding: 15px;
  background-color: #fdfdfd;
}

#app .bar label {
  margin-right: 10px;
  cursor: pointer;
}

#app ul li {
  margin: 0;
  list-style-type: none;
  padding: 15px;
  background-color: #f8f8f8;
  font-size: 18px;
}

#app ul li input, #app .bar label input {
  vertical-align: middle;
}

#app ul li span, #app ul li input[type="text"] {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-size: 18px;
  padding: 0 5px;
  width: 80%;
  height: 20px;
  line-height: 20px;
  margin: 0;
}

#app ul li.editing {
  background-color: #ffe;
}

#app ul li span.done {
  color: #aaa;
  text-decoration: line-through;
  font-style: italic;
}

#app ul li a {
  float: right;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 0;
  color: #aaa;
}

#app ul li a:hover, #app .bar label:hover {
  color: #337ab7;
}